@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

.footer-container{
    position: relative;
}

.footer-container{
    border: 1px solid var(--lightgray);
}
.footer{
    padding: 1rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;

}

.social-links{
    display: flex;
    gap: 4rem;
}

.social-links>img{
    width: 2rem;
    height: 2rem;
    transition: all 0.3s;
}

.social-links>img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    transition: all 0.5s;
}

.logo span {
    font-size: 20px;
    font-family: 'Diplomata SC', cursive;
}

.logo h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin: 0;
}

.logo:hover{
 cursor: pointer;
 transform: scale(1.2);
}

.blur-f{
    width: 30rem;
    height: 25rem;
    left: 30%;
}

.blur-f-1{
    width: 15rem;
    height: 10rem;
    background: red;
    left: 0;
}

.blur-f-2{
    width: 12rem;
    height: 15rem;
    right: 0;
    background: red;
}